.css-60qzhm-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color: #ffffff !important;
}

.css-1dl1zuk.Mui-selected {
    color: #ffffff !important;
}

.css-gz6gzu.Mui-selected {
    color: #ffffff !important;
}